<form class="form-horizontal" role="form">
  <legend>Submit a Link</legend>
  <div class = "form-group">
    <input ng-model="LinksFactory.linkTitle" placeholder="Enter the Link Title" class="form-control">
  </div>
  <div class = "form-group">
    <input ng-model="LinksFactory.url" placeholder="Enter the Link URL" class="form-control">
  </div>
  <div class = "form-group">
    <input ng-model="LinksFactory.userName" placeholder="Enter Your User Name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary" ng-click="changeView('home')">Submit</button>
</form>
